* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #323232;
}

.page {
  max-width: 900px;
  margin: 0 auto;
}

nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
  font-weight: bold;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.aboutMe {
  display: flex;
  margin-bottom: 50px;
}

.text {
  margin-right: 20px;
}

.aboutMe img {
  width: 300px;
  border-radius: 10px;
}

.text h2 {
  margin-bottom: 25px;
}

.text p {
  margin-bottom: 20px;
  line-height: 1.4;
}

.text p:last-child {
  margin-bottom: 0;
}

.project h2 {
  margin-bottom: 20px;
}

.namePro {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.namePro p {
  font-weight: bold;
  font-size: 18px;
}

.w-6 {
  width: 15px;
  margin-right: 5px;
}
